/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #d12f2f;
  --ifm-color-primary-dark: #bd2a2a;
  --ifm-color-primary-darker: #b22727;
  --ifm-color-primary-darkest: #932020;
  --ifm-color-primary-light: #d64444;
  --ifm-color-primary-lighter: #d84e4e;
  --ifm-color-primary-lightest: #df6e6e;
  --ifm-button-border-color: var(--ifm-font-color-base-inverse);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.github {
  width: 32px;
  height: 32px;
  background-image: url("https://image.flaticon.com/icons/png/512/25/25231.png");
  background-size: cover;
  margin-right: 16px;
}

.outside-link:after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("https://static.thenounproject.com/png/389539-200.png");
  background-size: cover;
  margin-left: 6px;
  padding-right: 16px;
}

/* Custom link color of Overview Page */
.vertical-timeline.vertical-timeline-custom-line::before {
  background: #3f3f3f;
}

.mt-1 {
  margin-top: 16px;
}

.onDarkMode_whiteBg {
  background: white;
}